/* Header */
header {
  height: auto;
  width: 17.5%;
  margin-left: 50%;
  padding-bottom: 5px;
  transform: translateX(-50%);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: rgba(1, 1, 1, 0.45);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 5px black solid;
  border-left: 5px black solid;
  border-right: 5px black solid;
  box-shadow: inset 0px 0px 5px 5px rgba(1, 1, 1, 0.25);
  backdrop-filter: blur(10px);
}

/* Title */
header #title-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
}

header #title {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}

header #subtitle {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  font-size: 20px;
}

/* Nav */
nav ul {
  width: 200px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  list-style: none;
}

.anchor-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.anchor-link:hover {
  text-decoration: underline;
}
